* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
}

.col-1 {
    width: calc((100% / 12) * 1)
}

.col-2 {
    width: calc((100% / 12) * 2)
}

.col-3 {
    width: calc((100% / 12) * 3)
}

.col-4 {
    width: calc((100% / 12) * 4)
}

.col-5 {
    width: calc((100% / 12) * 5)
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: calc((100% / 12) * 7)
}

.col-8 {
    width: calc((100% / 12) * 8)
}

.col-9 {
    width: calc((100% / 12) * 9)
}

.col-10 {
    width: calc((100% / 12) * 10)
}

.col-11 {
    width: calc((100% / 12) * 11)
}

.col-12 {
    width: 100%;
}

.col-offset-1 {
    margin-left: calc((100% / 12) * 1);
}

.col-offset-2 {
    margin-left: calc((100% / 12) * 2);
}

.col-offset-3 {
    margin-left: calc((100% / 12) * 3);
}

.col-offset-4 {
    margin-left: calc((100% / 12) * 4);
}

.col-offset-5 {
    margin-left: calc((100% / 12) * 5);
}

.col-offset-6 {
    margin-left: calc((100% / 12) * 6);
}

.col-offset-7 {
    margin-left: calc((100% / 12) * 7);
}

.col-offset-8 {
    margin-left: calc((100% / 12) * 8);
}

.col-offset-9 {
    margin-left: calc((100% / 12) * 9);
}

.col-offset-10 {
    margin-left: calc((100% / 12) * 10);
}

.col-offset-11 {
    margin-left: calc((100% / 12) * 11);
}

/* Utily */

.justify_start {
    justify-content: flex-start;
}

.justify_center {
    justify-content: center;
}

.justify_end {
    justify-content: flex-end;
}

.justify_between {
    justify-content: space-between;
}

.justify_around {
    justify-content: space-around;
}

.justify_evenly {
    justify-content: space-evenly;
}

.text_left {
    text-align: start;
}

.text_center {
    text-align: center;
}

.text_right {
    text-align: end;
}

.align_start {
    align-content: flex-start;
}

.align_center {
    align-content: center;
}

.align_end {
    align-content: flex-end;
}

.p_1 {
    padding: 1rem;
}

.p_2 {
    padding: 1.5rem;
}

.m_1 {
    margin: 1rem;
}

.m_2 {
    margin: 1.5rem;
}

/* Small Devices */

@media screen and (min-width: 568px) {
    .container {
        width: 540px;
    }
    .col-sm {
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%;
    }
    .col-sm-1 {
        width: calc((100% / 12) * 1)
    }
    .col-sm-2 {
        width: calc((100% / 12) * 2)
    }
    .col-sm-3 {
        width: calc((100% / 12) * 3)
    }
    .col-sm-4 {
        width: calc((100% / 12) * 4)
    }
    .col-sm-5 {
        width: calc((100% / 12) * 5)
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-7 {
        width: calc((100% / 12) * 7)
    }
    .col-sm-8 {
        width: calc((100% / 12) * 8)
    }
    .col-sm-9 {
        width: calc((100% / 12) * 9)
    }
    .col-sm-10 {
        width: calc((100% / 12) * 10)
    }
    .col-sm-11 {
        width: calc((100% / 12) * 11)
    }
    .col-sm-12 {
        width: 100%;
    }
    .col-offset-sm-1 {
        margin-left: calc((100% / 12) * 1);
    }
    .col-offset-sm-2 {
        margin-left: calc((100% / 12) * 2);
    }
    .col-offset-sm-3 {
        margin-left: calc((100% / 12) * 3);
    }
    .col-offset-sm-4 {
        margin-left: calc((100% / 12) * 4);
    }
    .col-offset-sm-5 {
        margin-left: calc((100% / 12) * 5);
    }
    .col-offset-sm-6 {
        margin-left: calc((100% / 12) * 6);
    }
    .col-offset-sm-7 {
        margin-left: calc((100% / 12) * 7);
    }
    .col-offset-sm-8 {
        margin-left: calc((100% / 12) * 8);
    }
    .col-offset-sm-9 {
        margin-left: calc((100% / 12) * 9);
    }
    .col-offset-sm-10 {
        margin-left: calc((100% / 12) * 10);
    }
    .col-offset-sm-11 {
        margin-left: calc((100% / 12) * 11);
    }
    /* Utily */
    .justify_sm_start {
        justify-content: flex-start;
    }
    .justify_sm_center {
        justify-content: center;
    }
    .justify_sm_end {
        justify-content: flex-end;
    }
    .justify_sm_between {
        justify-content: space-between;
    }
    .justify_sm_around {
        justify-content: space-around;
    }
    .justify_sm_evenly {
        justify-content: space-evenly;
    }
    .text_sm_left {
        text-align: start;
    }
    .text_sm_center {
        text-align: center;
    }
    .text_sm_right {
        text-align: end;
    }
    .align_sm_start {
        align-content: flex-start;
    }
    .align_sm_center {
        align-content: center;
    }
    .align_sm_end {
        align-content: flex-end;
    }
}

/* Medium Devices */

@media screen and (min-width: 768px) {
    .container {
        width: 720px;
    }
    .col-md {
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%;
    }
    .col-md-1 {
        width: calc((100% / 12) * 1)
    }
    .col-md-2 {
        width: calc((100% / 12) * 2)
    }
    .col-md-3 {
        width: calc((100% / 12) * 3)
    }
    .col-md-4 {
        width: calc((100% / 12) * 4)
    }
    .col-md-5 {
        width: calc((100% / 12) * 5)
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-7 {
        width: calc((100% / 12) * 7)
    }
    .col-md-8 {
        width: calc((100% / 12) * 8)
    }
    .col-md-9 {
        width: calc((100% / 12) * 9)
    }
    .col-md-10 {
        width: calc((100% / 12) * 10)
    }
    .col-md-11 {
        width: calc((100% / 12) * 11)
    }
    .col-md-12 {
        width: 100%;
    }
    .col-offset-md-1 {
        margin-left: calc((100% / 12) * 1);
    }
    .col-offset-md-2 {
        margin-left: calc((100% / 12) * 2);
    }
    .col-offset-md-3 {
        margin-left: calc((100% / 12) * 3);
    }
    .col-offset-md-4 {
        margin-left: calc((100% / 12) * 4);
    }
    .col-offset-md-5 {
        margin-left: calc((100% / 12) * 5);
    }
    .col-offset-md-6 {
        margin-left: calc((100% / 12) * 6);
    }
    .col-offset-md-7 {
        margin-left: calc((100% / 12) * 7);
    }
    .col-offset-md-8 {
        margin-left: calc((100% / 12) * 8);
    }
    .col-offset-md-9 {
        margin-left: calc((100% / 12) * 9);
    }
    .col-offset-md-10 {
        margin-left: calc((100% / 12) * 10);
    }
    .col-offset-md-11 {
        margin-left: calc((100% / 12) * 11);
    }
    /* Utily */
    .justify_md_start {
        justify-content: flex-start;
    }
    .justify_md_center {
        justify-content: center;
    }
    .justify_md_end {
        justify-content: flex-end;
    }
    .justify_md_between {
        justify-content: space-between;
    }
    .justify_md_around {
        justify-content: space-around;
    }
    .justify_md_evenly {
        justify-content: space-evenly;
    }
    .text_md_left {
        text-align: start;
    }
    .text_md_center {
        text-align: center;
    }
    .text_md_right {
        text-align: end;
    }
    .align_md_start {
        align-content: flex-start;
    }
    .align_md_center {
        align-content: center;
    }
    .align_md_end {
        align-content: flex-end;
    }
}

/* Large Devices */

@media screen and (min-width: 1024px) {
    .container {
        width: 960px;
    }
    .col-lg {
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%;
    }
    .col-lg-1 {
        width: calc((100% / 12) * 1)
    }
    .col-lg-2 {
        width: calc((100% / 12) * 2)
    }
    .col-lg-3 {
        width: calc((100% / 12) * 3)
    }
    .col-lg-4 {
        width: calc((100% / 12) * 4)
    }
    .col-lg-5 {
        width: calc((100% / 12) * 5)
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-7 {
        width: calc((100% / 12) * 7)
    }
    .col-lg-8 {
        width: calc((100% / 12) * 8)
    }
    .col-lg-9 {
        width: calc((100% / 12) * 9)
    }
    .col-lg-10 {
        width: calc((100% / 12) * 10)
    }
    .col-lg-11 {
        width: calc((100% / 12) * 11)
    }
    .col-lg-12 {
        width: 100%;
    }
    .col-offset-lg-1 {
        margin-left: calc((100% / 12) * 1);
    }
    .col-offset-lg-2 {
        margin-left: calc((100% / 12) * 2);
    }
    .col-offset-lg-3 {
        margin-left: calc((100% / 12) * 3);
    }
    .col-offset-lg-4 {
        margin-left: calc((100% / 12) * 4);
    }
    .col-offset-lg-5 {
        margin-left: calc((100% / 12) * 5);
    }
    .col-offset-lg-6 {
        margin-left: calc((100% / 12) * 6);
    }
    .col-offset-lg-7 {
        margin-left: calc((100% / 12) * 7);
    }
    .col-offset-lg-8 {
        margin-left: calc((100% / 12) * 8);
    }
    .col-offset-lg-9 {
        margin-left: calc((100% / 12) * 9);
    }
    .col-offset-lg-10 {
        margin-left: calc((100% / 12) * 10);
    }
    .col-offset-lg-11 {
        margin-left: calc((100% / 12) * 11);
    }
    /* Utily */
    .justify_lg_start {
        justify-content: flex-start;
    }
    .justify_lg_center {
        justify-content: center;
    }
    .justify_lg_end {
        justify-content: flex-end;
    }
    .justify_lg_between {
        justify-content: space-between;
    }
    .justify_lg_around {
        justify-content: space-around;
    }
    .justify_lg_evenly {
        justify-content: space-evenly;
    }
    .text_lg_left {
        text-align: start;
    }
    .text_lg_center {
        text-align: center;
    }
    .text_lg_right {
        text-align: end;
    }
    .align_lg_start {
        align-content: flex-start;
    }
    .align_lg_center {
        align-content: center;
    }
    .align_lg_end {
        align-content: flex-end;
    }
}