* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.square {
    width: 200px;
    height: 200px;
    background-color: cadetblue;
    position: absolute;
    animation: move 5s linear 1s;
}

@keyframes move {
    0% {
        top: 0px;
        left: 0px;
    }
    25% {
        top: 0px;
        left: calc(100% - 200px);
    }
    50% {
        top: calc(100% - 200px);
        left: calc(100% - 200px);
    }
    75% {
        top: calc(100% - 200px);
        left: 0px;
    }
    100% {
        top: 0px;
        left: 0px;
    }
}