<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>

        <div id="root">
            <div v-for="studente in studenti">
                <h2>{{studente.nome}} {{studente.cognome}}</h2>
                <h3 v-if="studente.presente">E' in classe!</h3>
                <h3 v-else>Lo studente è assente</h3>

            </div>


        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script src="./main.js"></script>
    </body>
</html>