* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    height: 100%;
    width: 100%;
}

.video {
    width: 70%;
    height: 100%;
    position: relative;
    float: left;
    background-color: blue;
}

.marte {
    width: 100vw;
}

.timeline {
    width: 100%;
    height: 5px;
    background-color: red;
    position: absolute;
    bottom: 50px;
    left: 0px;
}

.suggested {
    float: left;
    width: 30%;
    height: 100%;
    background-color: rgb(212, 27, 27);
}