<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="./assets/css/style.css">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
            integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="crossorigin="anonymous"
            referrerpolicy="no-referrer" />

    </head>
    <body>

        <div id="root">

            <div class="container">
                <div class="logo">
                    <img :src="imgUrl" alt="">
                </div>
                <div class="addTasks">
                    <!-- //keyup per far partire la funzione "addtask" all'enter -->
                    <input type="text" v-model="newTask" @keyup.enter="addTask">
                    <button @click="addTask">Add</button>
                    <div class="error" v-show="error">Inserisci un task!</div>
                </div>

                <div class="tasks" v-if="tasks.length> 0">
                    <div class="item" v-for="(task, index) in tasks">
                        {{task}}
                        <div class="remove" @click="deleteTask(index)">
                            <i class="fas fa-times-circle fa-lg fa-fw"></i>
                        </div>
                    </div>
                </div>

                <div v-else>
                    <p>Nothing to do, chill!</p>
                </div>

            </div>



        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script src="./assets/js/main.js"></script>
    </body>
</html>